<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<configuration>
	<!-- id вашего бота -->
	<idBot>1089203467:AAEX4veZBZz5NFPA8lI_S4-VqchBkAS1hY4</idBot>
	<Servers>
		<!--Сервера проверяемы на доступность, имя элемента должно быть уникальным-->
		<vpn>192.168.1.226</vpn>
	</Servers>
	<ProxyServers>
		<!--Прокси Сервера-->
		<!--Указать используемый протокол для Proxy Сервера. Должен совпадать с разделами прокси серверов-->
		<UseProtocol>NoProxy</UseProtocol>
		<Socks5>
			<!--Использующие протокол Socks5-->
			<ator>
				<ip>localhost</ip>
				<port>9050</port>
			</ator>
			<proxy1>
				<ip>138.197.157.32</ip>
				<port>1080</port>
			</proxy1>
			<proxy2>
				<ip>159.89.49.60</ip>
				<port>31264</port>
			</proxy2>
			<proxy3>
				<ip>157.245.10.123</ip>
				<port>9956</port>
			</proxy3>
			<proxy4>
				<ip>52.140.242.45</ip>
				<port>1080</port>
			</proxy4>
		</Socks5>
		<HTTP>
			<!--Использующие протокол HTTP-->
			<proxy1>
				<ip>52.179.231.206</ip>
				<port>80</port>
			</proxy1>
			<proxy2>
				<ip>163.172.189.32</ip>
				<port>8811</port>
			</proxy2>
		</HTTP>
		<NoProxy>
		<!--Проверяем наличие соединения с интернетом. Можно указать любой внешний хост. -->
			<google>
				<ip>8.8.8.8</ip>
				<port>8080</port>
			</google>
		</NoProxy>
	</ProxyServers>
	<adminsId>
    <!--id контактов, которым отправляются предупреждения от бота-->
		<Max>294468122</Max>
		<!--<Saksin>405672701</Saksin>-->
	</adminsId>
	<configProperties>
		<Sysem.Globalization.Invariant> true </Sysem.Globalization.Invariant>
	</configProperties>
</configuration>
