<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<configuration>
  <!--id Бота запрашивается у BotFather-->
  <!--!!!!! ТОЛЬКО 1 Id !!!!!-->
	<idBot><!-- id вашего бота --></idBot>
	<Servers>
		<!--Сервера проверяемы на доступность, название элемента (<название элемента>) должно быть уникальным-->
    <!--проверяется только наличие пинга до сервера (port = 80)-->
		<Blade-02>192.168.1.202</Blade-02>
		<Blade-03>192.168.1.203</Blade-03>
	</Servers>
	<ProxyServers>
		<!--Прокси Сервера-->
		<!--Указать используемый протокол для Proxy Сервера. Должен совпадать с разделами прокси серверов-->
    <!-- Имена прокси могут быть любыми, но обязательно содержать в себе элементы <ip> и <port>-->
    <!-- !!!!!Пока что поддерживаются только прямые IP и Порт. DNS имена прокси не поддерживаются!!!!!!!!-->
    <!--Кол-во серверов прокси не ограничено, но будет увеличивать время запуска. -->
    <!--Элементы <UseProtocol> не добавлять.-->
    <!-- <UseProtokol>: 
            Socks5  - для работы с Proxy по протоколу Socks5 (шифрование Socks5)
            HTTP  - для работы с Proxy по протоколу HTTP (без шифрования).
            NoProxy  - для работы без использования Proxy.
     -->
    <!--<ip> - может быть именем домена (адрессом)-->
    <!--<port> - только числовое значение. если подключаетесь по доменному имени то порт "80"-->
		<UseProtocol>Socks5</UseProtocol>
		<Socks5>
			<!--Использующие протокол Socks5-->
			<proxy1>
				<ip>188.166.83.17</ip>
				<port>1080</port>
			</proxy1>
			<proxy2>
				<ip>138.201.159.97</ip>
				<port>1080</port>
			</proxy2>
			<proxy3>
				<ip>162.243.107.120</ip>
				<port>1080</port>
			</proxy3>
			<proxy4>
				<ip>185.161.211.25</ip>
				<port>1080</port>
			</proxy4>
		</Socks5>
		<HTTP>
			<!--Использующие протокол HTTP-->
			<proxy1>
				<ip>52.179.231.206</ip>
				<port>80</port>
			</proxy1>
			<proxy2>
				<ip>163.172.189.32</ip>
				<port>8811</port>
			</proxy2>
		</HTTP>
    <NoProxy>
      <!--Проверяем наличие соединения с интернетом. Можно указать любой внешний хост. -->
      <google>
        <ip>8.8.8.8</ip>
        <port>80</port>
      </google>
    </NoProxy>
	</ProxyServers>
	<adminsId>
    <!--id контактов, которым отправляются предупреждения от бота-->
    <!-- Элементы: <user1> и т.д. можно переименовывать. Например "<somepeople>"-->
    <!--Колличество элементов в структуре <adminsId> - Не ограничено-->
    <!-- Пример структуры элемента 
          <adminsId>
            <firstUser>46646464</fistUser>
            <secondUser>33333333</secondUser>
          </adminsId>
      -->
		<user1><!--Вписать Id user--></user1>
	</adminsId>
	<configProperties>
		<Sysem.Globalization.Invariant> true </Sysem.Globalization.Invariant>
	</configProperties>
</configuration>
